<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/broken-user.jpg" alt="CUS">
                        </div>
                        <div class="client-meta">
                            <h3>Lã Tùng Dương <span>Khách hàng thường xuyên</span></h3>
                            <p class="testimonial-body">
                                "Quán có không gian yên tĩnh, nhạc du dương rất thích hợp để làm việc. Đồ uống ngon, đặc biệt là các loại trà hoa quả. Tôi thường xuyên ghé quán để tìm cảm hứng."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/asset/img/avaters/nam.jpg" alt="DEV">
                        </div>
                        <div class="client-meta">
                            <h3>Nguyễn Viết Nam <span>Chủ quán cafe</span></h3>
                            <p class="testimonial-body">
                                "Không gian ở đây thật tuyệt vời để làm việc và thư giãn. Cà phê thơm ngon và nhân viên thì cực kỳ thân thiện. Đây là điểm đến yêu thích của tôi mỗi ngày!"
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/broken-user.jpg" alt="CUS">
                        </div>
                        <div class="client-meta">
                            <h3>Nguyễn Huy Hoàng <span>Khách hàng thường xuyên</span></h3>
                            <p class="testimonial-body">
                                "Tôi thích cách nhân viên ở đây phục vụ, luôn nhiệt tình và chu đáo. Quán còn có nhiều góc sống ảo đẹp, tha hồ chụp ảnh. Cà phê trứng ở đây là món tôi yêu thích nhất."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/asset/img/avaters/vu.jpg" alt="DEV">
                        </div>
                        <div class="client-meta">
                            <h3>Lương Quang Vũ <span>Chủ quán cafe</span></h3>
                            <p class="testimonial-body">
                                "Tôi yêu cái cách quán cafe này được thiết kế, rất ấm cúng và thoải mái. Cà phê thì miễn chê, luôn tươi mới và đậm đà hương vị."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/broken-user.jpg" alt="CUS">
                        </div>
                        <div class="client-meta">
                            <h3>Phạm Minh Phúc <span>Khách hàng thường xuyên</span></h3>
                            <p class="testimonial-body">
                                "Đây là quán cafe lý tưởng để gặp gỡ bạn bè và trò chuyện. Không gian rộng rãi, thoáng đãng. Bánh ngọt ở quán cũng rất ngon, đặc biệt là tiramisu."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->