@{
    ViewData["Title"] = "Câu Chuyện Của Chúng Tôi";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Chúng tôi phục vụ cà phê ngon</p>
                    <h1>Về Chúng Tôi</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- team section -->
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Đội Ngũ <span class="orange-text">Của Chúng Tôi</span></h3>
                    <p>Chúng tôi tự hào giới thiệu đội ngũ barista chuyên nghiệp và tận tâm, luôn nỗ lực pha chế những ly cà phê tuyệt vời nhất.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Nguyễn Viết Nam <span>Barista</span></h4>
                    <ul class="social-link-team">
                        <li><a href="http://fafacebook.com/nam.nguyenviet.9999" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="mailto:email@example.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Lương Quang Vũ <span>Barista</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/quangvu.0812/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="mailto:email@example.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team section -->

<partial name="_TestimonailPartial" />